<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjq.collect.dao.QuestionCollectMapper">
	<resultMap id="BaseResultMap" type="com.sjq.collect.bean.QuestionCollectBean">
  		<result column="id" property="id" jdbcType="BIGINT" />
  		<result column="create_name" property="createName" jdbcType="VARCHAR" />
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  		<result column="mod_name" property="modName" jdbcType="VARCHAR" />
  		<result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  		<result column="delflag" property="delflag" jdbcType="CHAR" />
  		<result column="user_id" property="userId" jdbcType="BIGINT" />
  		<result column="question_id" property="questionId" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
  		id,
  		create_name,
  		create_time,
  		mod_name,
  		mod_time,
  		delflag,
  		user_id,
  		question_id
	</sql>
	
					
	<!-- 根据条件查询题库模块-题库收藏count总数 -->
	<select id="queryQuestionCollectTotalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from
		edu_question_collect where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="userId != '' and userId != null">
       		and user_id =  #{userId}
       </if>
  	   <if test="questionId != '' and questionId != null">
       		and question_id =  #{questionId}
       </if>
	</select>
	

					
	<!-- 分页查询题库模块-题库收藏 -->
	<select id="queryQuestionCollectPage" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select   
	    <include refid="Base_Column_List" />
		from
		edu_question_collect where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="userId != '' and userId != null">
       		and user_id =  #{userId}
       </if>
  	   <if test="questionId != '' and questionId != null">
       		and question_id =  #{questionId}
       </if>
  	   limit #{startRowNum},#{endRowNum}
	</select>

					
	<!-- (删除)根据ID删除题库模块-题库收藏信息 --> 
	<delete id="deleteQuestionCollectById" parameterType="java.lang.Long">
		update edu_question_collect 
		<set> 
	  	    <if test="modName != '' and modName != null">
	       	mod_name =  #{modName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="modTime != '' and modTime != null">
	       	mod_time =  #{modTime,jdbcType=TIMESTAMP},
	        </if>
		delflag = '1'
		</set>
		where  id = #{id,jdbcType=BIGINT} 
	</delete>
	
					
	<!-- (增加)增加题库模块-题库收藏信息 --> 
	<insert id="insertQuestionCollect" parameterType="com.sjq.collect.bean.QuestionCollectBean">
		insert into edu_question_collect
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  	   <if test="id != '' and id != null">
	       	id,
	       </if>
	  	   <if test="createName != '' and createName != null">
	       	create_name,
	       </if>
	  	   <if test="createTime != '' and createTime != null">
	       	create_time,
	       </if>
	  	   <if test="delflag != '' and delflag != null">
	       	delflag,
	       </if>
	  	   <if test="userId != '' and userId != null">
	       	user_id,
	       </if>
	  	   <if test="questionId != '' and questionId != null">
	       	question_id,
	       </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	  	    <if test="id != '' and id != null">
	       		#{id,jdbcType=BIGINT},
	        </if>
	  	    <if test="createName != '' and createName != null">
	       		#{createName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="createTime != '' and createTime != null">
	       		#{createTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       		#{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="userId != '' and userId != null">
	       		#{userId,jdbcType=BIGINT},
	        </if>
	  	    <if test="questionId != '' and questionId != null">
	       		#{questionId,jdbcType=BIGINT},
	        </if>
		</trim>
	</insert>
    
    
    				
	<!-- 根据条件查询所有题库模块-题库收藏信息 -->
	<select id="queryQuestionCollectBySearch" resultMap="BaseResultMap"  parameterType="java.util.Map">
	   select 
       <include refid="Base_Column_List" />
       from edu_question_collect
       where 1=1 
  	   <if test="id != '' and id != null">
       		and id = #{id}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag = #{delflag}
       </if>
  	   <if test="userId != '' and userId != null">
       		and user_id = #{userId}
       </if>
  	   <if test="questionId != '' and questionId != null">
       		and question_id = #{questionId}
       </if>
	</select>
	
	   
</mapper>