
.report{
	margin:20px;
	min-height: 712px;
	color:#999;
}
.report .title{
	text-align: center;
	color:#333;font-size: 16px;
	margin:20px 0;
}
.chakan p{
	cursor: pointer;
}

.tips{
	text-align: center;
}

.situation{
	height:36px;
	line-height: 36px;
	background:#f2f2f2;
	margin-top:18px;
	margin-bottom: 26px;
}
.situation p{
	float:left;
	margin-left: 90px;
}

.choice_area span{
	display: inline-block;
	width:90px;
	text-align: right;
	margin-right: 20px;
}
.choice_area select{
	width:212px;
	margin-right: 40px;
	padding:3px 0;
}
#klass{
	margin-right: 0;
}

.insert_file{
	margin-top:150px;
	text-align: center;
}
.insert_file .explain{
	margin-bottom: 62px;
}

.operation .select{
	margin-top:20px;
	margin-bottom: 14px;
	cursor: pointer;
}

.method{
	margin-top:34px;
}
.method span{
	display: inline-block;
}
.method .support{
	color:#333;
	margin-right: 40px;
}
.method .excel,.method .gain{
	color:#319afe;
	margin-right: 40px;
	cursor: pointer;
}
.method .excel{
	margin-right: 14px;
}