body{
	width:100%;
	background:#fff;
}
// .header{
// 	width:100%;
// 	height:90px;
// 	box-shadow:1px 1px 7px rgba(0,0,0,0.24);
// 	border:2px solid #ccc\9;
// }
.header .head_top{
	width:1200px;
	margin:0 auto;
	height:100%;
}
.header .head_top h1{
	height:100%;
	line-height:54px;
	float:left;
	margin-right:60px;
}
.header .head_top h1 img{
	vertical-align: middle;
}
.header .head_top ul li{
	float:left;
}
.header .head_top ul li a{
	display: inline-block;
	height:54px;
	padding:16px 18px;
	font-size: 13px;
	color:#fff;
	box-sizing: border-box;
}
.header .head_top ul li.active a{
	background:url(../images/nav_select.png) no-repeat bottom center;
}
.login_btn{
	width:80px;
	height: 28px;
	margin-top: 13px;
	cursor:pointer;
	background:url(../images/login1.png) no-repeat center center;
}

/*内容区域*/
.contain_main{
	margin-bottom:20px;
}

.login_banner{
	background:#4dcec4;
	height:265px;
}
.login_banner .banner{
	width:1000px;
	margin:0 auto;
	height: 265px;
}
.login_banner .banner img{
	width:100%;
	height:100%;
}


.login_contain{
	// display: none;
	position: fixed;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
	background:rgba(0,0,0,.3);
}

.login{
	position: absolute;
	left: 50%;
	top:20%;
	width:584px;
	height:396px;
	background:url(../images/登录框.png) no-repeat center center;
	box-sizing: border-box;
	margin-left: -297px;
	color:#96a1a6;
	// background:#fff;
}

.close_btn{
	position: absolute;
	right:12px;
	top:12px;
	width:16px;
	height: 16px;
	cursor:pointer;
	background:url(../images/关闭.png) no-repeat center center;
}

.login h2{
	font-size: 20px;
	text-align: center;
	margin:40px 0 30px 0;
	color:#333;
}
.username,.password{
	display: block;
	position: relative;
	width:300px;
	margin:0 auto;
}
.username input,.password input{
	width:300px;
	height:20px;
	font-size: 14px;
	color:#000;
	border:1px solid #d9d9d9;
	border-radius: 2px;
	text-indent: 46px;
	margin-bottom:15px;
	padding:10px 0;
}
.login_banner .login span{
	line-height:42px;
	text-indent: 10px;
}
.username i,.password i{
	position: absolute;
	left:1px;
	top:1px;
    width: 40px;
    height: 40px;
}
.password i{
	background:#eee url(../images/密码.png) no-repeat center center;
}
.username i{
	background:#eee url(../images/用户名.png) no-repeat center center;
}

.captcha{
	width:300px;
	margin:0 auto;
}
.captcha input{
	width:192px;
	padding:10px 0;
	text-indent: 5px;
	border:1px solid #d9d9d9;
	border-radius:3px;
}
.captcha input,.captcha img,.captcha span{
	vertical-align: middle;
}
.captcha img{
	margin-left: 2px;
	width:96px;
	height:40px;
}
.captcha span{
	color:#016cba;
	font-size: 12px;
	margin-left: 2px;
}


.remember{
	width:300px;
	margin:10px auto 0 auto;
}

.remember label{
	display: block;
	width:74px;
	height:21px;
	line-height: 21px;
	cursor: pointer;
}
label.remeb{
	background:url(../images/new/记住账号未选中.png) no-repeat left center;
}
label.check{
    background:url(../images/new/记住账号选中.png) no-repeat left center;
}
.remember input{
	position: absolute;
	margin-right:5px;
	clip: rect(0 0 0 0);
}
.remember i{
	margin-left: 16px;
	color:#666;
}
.remember a{
	color:#f9b450;
}


.loginbtn_contain{
	width:300px;
	margin: 0 auto;
}
.denglu{
	width:300px;
	height:42px;
	background:#0075b1;
	border-radius: 5px;
	text-align:center;
	line-height:42px;
	color:#fff;
	font: 16px '微软雅黑';
	border:0;
	margin-top:12px;
	cursor:pointer;
}
.register{
	margin-top:16px;
	padding-bottom:12px;
	border-bottom: 1px solid #e5e5e5;
}
.register a{
	color:#f0b964;
	margin-left: 5px;
}
.another_login{
	margin-top:14px;
}
.another_login span{
	display: inline-block;
	margin-right: 14px;
}
.another_login span{
	vertical-align: middle;
 }


.module,.module_at .box{
	width:1200px;
	margin:0 auto;
}
.top_68{
	margin-top:28px;
}
.tongjifenxi{
	margin-bottom: 150px;
}
 .module_tiku,.module_auto_test{
 	margin:0 90px 0 46px;
 }

.img_tiku{
	margin-top:24px;
}
.img_tiku img{
	width:100%;
}

.content_tiku{
	width:510px;
	height: 450px;
}
.content_tiku h2{
	font: 46px '微软雅黑';
	color:#666;
	margin:30px 0;
	font-weight: 400;
	text-align: center;
}
.content_tiku button{
	width:150px;
	height: 44px;
	background:url(../images/查看详情.png) no-repeat center center;
	cursor:pointer;
}


.content_tiku p{
	font:24px '微软雅黑'; 
	color:#999;
	margin-bottom: 24px;
}

.module_at{
	width:100%;
	background:#eee;
}


.foot{
	height:46px;
	background:#313131;
	line-height: 46px;
}

.foot_content{
	width:1200px;
	margin:0 auto;
	text-align: center;
}
.foot_content span{
	margin-right: 66px;
	color:#dfdfdf;
}


.show_head{
	width:40px;
	height: 40px;
	margin-top: 7px;
	cursor:pointer;
	position: relative;
}
.show_head img{
	width:100%;
	height: 100%;
}

.show_head .set{
	display: none;
	position: absolute;
	top:50px;
	left:-30px;
	z-index:1000;
	font-size: 12px;
	background:#ffffff;
	border:1px solid #f2f2f2;
}
.show_head:hover .set{
	display: block;
}
.show_head .set p{
	width:80px;
	line-height: 30px;
	padding:5px 14px;
	cursor: pointer;
	color:#333;
}

.show_head:hover .set p:hover{
	background:#f2f2f2;
	color:#333;
}
.show_head .set em{
	display: inline-block;
	width:14px;
	vertical-align: middle;
	height: 14px;
	margin-right: 4px;
}
.show_head .set .my_set{
	color:#333;
}
.show_head .set .my_set em{
	background:url(../images/icon_all.png) no-repeat -31px 0;
	background-size:64px 64px;
}
.show_head .set .quiet em{
	background:url(../images/icon_all.png) no-repeat -16px 0;
	background-size:64px 64px;
}

.show_head i{
	margin-left: 6px;
	display: inline-block;
	width:18px;
	height:12px;
	background:url(../images/down_arr.png) no-repeat center center;
}


.show_head .set .arr{
	position: absolute;
	content: "";
	display: block;
	width:0;
	height:0;
	right:47px;
	top:-19px;
	border:10px solid #000; 
	border-color:transparent transparent #f1f1f1 transparent; 
	border-style:solid dashed dashed dashed;
}

.show_head .role_name{
	display: inline-block;
    width: 88%;
    height:24px;
    line-height: 24px;
    background: #00ada7;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    margin-right: 5px;
}
.show_head span img{
	width:85%;
	vertical-align: middle;
}