.mid{min-height: 880px;}
button{cursor: pointer;}
.check_norm{
	margin:30px 20px 0 20px;
}
.create_norm button{
	width:120px;
	height:34px;
	line-height: 34px;
	background:#00ada7;
	color:#fff;
	font-size: 16px;
	// border-radius: 6px;
}
.create_norm button span{
	font-size: 18px;
	margin-right: 5px;
}
.klass_sub{
	margin-top:40px;
}
.klass_sub .zhi{
	margin:0 10px;
}
.klass_sub span{
	display: inline-block;
	line-height: 30px;
	margin-right: 5px;
}
.klass_sub select{
	vertical-align: middle;
	width:120px;
	padding:5px 0 5px 3px;
}
.klass_sub input{
	width:260px;
	padding:4px 2px;
	vertical-align: middle;
}

.sub{
	margin-left: 15px;
}
.work_name{
	margin-left: 15px;
}
.check{
	width:100px;
	height:34px;
	line-height: 34px;
	color:#fff;
	background:#00ada7;
}

.norm_list{
	border:1px solid #e5e5e5;
	margin:30px 20px;
}
.norm_list .list_title{
	height:42px;
	line-height: 42px;
	background:#f2f2f2;
}
.norm_list span{
	float:left;
	text-align: center;
}
.norm_list span.norm_name,.norm_list span.test_name{
	width:27%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.norm_list span.create_time,.norm_list span.creater{
	width:13%;
}
.norm_list span.operation{
	width:18%;
	float:right;
}

.norm_list span.operation i{
	color:#00ada7;
	margin-right: 16px;
	cursor: pointer;
}

.list_item li{
	height:52px;
	line-height: 52px;
	border-top: 1px solid #e5e5e5;
}