ul li,button{
	cursor: pointer;
}
.mid{
	width:1192px;
	background:#fff;
	margin-bottom: 20px;
}

.paper_list{
	width:100%;
	height:70px;
	border-bottom: 1px solid #e6e6e5;
}
.paper_list li{
	float: left;
	width:114px;
	line-height: 70px;
	text-align: center;
}
.paper_list li.active{
	background:#00ada7;
	color:#fff;
}


.search_paper{
	width:1000px;
	margin:30px auto;
}
.search_paper input{
	border:1px solid #b4d0de;
	text-indent: 14px;
	width:100%;
	padding:10px 0;
}
.search_paper span{
	line-height:34px;
	text-indent: 10px;
}

.stay_mid{
	width:1000px;
	margin:0 auto;
}
.pp_type,.pp_set{
	font-weight: 400;
	color:#333;
	margin-bottom:5px;
	text-indent: 3px;
}
.pp_set{
	margin-top:30px;
}
.paper_type,.paper_set{
	border:1px solid #e5e5e5;
	padding:0 42px;
	padding-bottom:30px;
}
.paper_type span{
	display: inline-block;
	line-height: 36px;
	color:#000;
}
.paper_type .kaoshi_type li{
	float:left;
	height:36px;
	width:94px;
	line-height:36px;
	margin-left: 12px;
	border:1px solid #e5e5e5;
	text-align: center;
	color:#343434;
}
.paper_type .kaoshi_type li.active{
	background:#cd6667;
	color:#fff;
}

.choice_type,.choice_grade,.choice_subject{
	margin-top:12px;
	margin-bottom:22px;
}

.choice_grade select{
	width:416px;
	height:28px;
	padding:3px;
	border:1px solid #a9a9a9;
}
.choice_subject p{
	line-height:22px;
	margin-left:6px;
}
.choice_subject p span{
	margin-right:30px;
	color:#333;
	cursor: pointer;
}
.choice_subject p span.active{
	color:#009aff;
}


.pp_difficult,.score_set{
	padding:24px 0;
	border-bottom:1px dashed #ccc;
}
.pp_difficult .easy_hard{
	padding-left: 13px;
	width:600px;
}

.easy_hard .drag-step{position:relative;top:-10px;display:inline-block;width:40%;cursor:pointer;margin:0 14px;}
.drag-step .ball,.drag-step .bottom,.drag-step .top,.drag-step .value{
	position:absolute;display:inline-block;cursor:pointer
}
.drag-step .value{top:-25px;z-index:3;display:none;margin-left:15px}
.drag-step .ball{top:-5px;z-index:3;background: url(../images/ball.png);width: 20px;height: 20px}
.drag-step .top{z-index:2;height:10px;background:#4d8693}
.drag-step .bottom{z-index:1;width:100%;height:10px;background:#ccc}
.S_qfd_div .S_qfd{display:inline-block;padding:3px 0;text-align:center;font-size:13px}
.S_qfd_div .active{background:#149a8a;color:#fff}



.check{
	margin: 18px 0 10px 78px;
}
.check label{
	margin-right:70px;
}
.check label input,.check label span{
	vertical-align: middle;
}
.check label input{
	margin-right: 4px;
}


.qt_set span,.score_set span{
	margin-right: 6px;
}
.qt_set select{
	width:62px;
	padding:2px;
	margin-right:66px;
}
.score_set{
	border-bottom:1px dashed #ccc;
}
.score_set input{
	width:60px;
	margin-right:66px;
	border:1px solid #ccc;
	text-indent: 3px;
}

.textbook_v{
	margin-top:14px;
}
.textbook_v .jiaocai{
	width:45%;
}
.textbook_v span{
	display: inline-block;
    line-height: 36px;
    color: #000;
    margin-right:6px;
}
.textbook_v select{
	width:160px;
	padding: 4px 3px;
}
.chapter i{
	margin-left: 10px;
	color:#319afe;
	cursor: pointer;
}

.operation{
	margin:48px auto 140px auto; 
	width:1000px;
}
.operation button{
	width:140px;
	height:34px;
	text-align: center;
	line-height: 34px;
	border-radius: 2px;
	margin-right: 38px;
}
.operation button.next{
	background:#ecebf1;
	color:#999;
}
.operation button.reset{
	background:#999;
	color:#fff;
}
