.operation{
	margin-top:14px;
}
.operation .quit{
	color:#333;
	margin-left: 20px;
	padding:4px 0;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

.test_name{
	font-size: 18px;
	// font-weight: 900;
	text-align: center;
	margin:20px 0;
}
.respondence_area{
	border:1px solid #e5e5e5;
	margin:20px 10px;
	position: relative;
	// height: 900px;
}
.time_out button{
	width:110px;
	height: 32px;
	background:#fbaf3a;
	color: #fff;
	margin:0 14px 0;
	line-height: 32px;
	font-weight: 800;
	cursor: pointer;
}
.time_out p img,.time_out p i{
	vertical-align: middle;
}
.time_out p{
	font-size: 16px;
	color:#666;
	height: 32px;
	line-height: 32px;
	font-weight: 900;
}
.posi{
	position: absolute;
	bottom:0;
	left: 0;
	background:#f2f2f2;
	z-index: 1000;
}
.answer_sheet{
	width:100%;
	border-top:1px solid #ccc;
	padding:10px 0;
}	

.answer_sheet .tag{
	line-height: 18px;
	padding-left: 10px;
}
.answer_sheet .tag span{
	display: inline-block;
	width:30px;
	height: 16px;
	border:1px solid #ccc;
	margin-right: 4px;
	margin-left: 10px;
}
.answer_sheet .tag span.answered{
	background:#ddf5d1;
	border-color:#addf97;
}
.answer_sheet .tag span.now{
	background:#fff1e3;
	border-color:#c56f20;
}

.card li{
	float: left;
	width:80px;
	height: 40px;
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
}
.card li span{
	display:inline-block;
	width:80px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ccc;
}
.card li span.no_answer{
	background:#fff;
	border:1px solid #ccc;
}
.card li span.answered{
	background:#ddf5d1;
	border:1px solid #ccc;
}
.card li span.now{
	background:#fff1e3;
	border-color:#c56f20;
}
.card li span.numb{
	border-bottom:0;
	margin-bottom: -1px;
}

.show_sheet{
	width:100px;
	height: 36px;
	background:#0075b1;
	color:#fff;
	line-height: 36px;
	// position: absolute;
	// left: 0;
	// top:-37px;
	padding-left: 14px;
	cursor: pointer;
}
.show_sheet p{
	width:100%;
	height:100%;
}
.show_sheet p i{
	margin-right: 3px;
}
.show_sheet p img,.show_sheet p i{
	vertical-align: middle;
}
.show_sheet p.show{
	display: none;
}

.height_fill{
	height:40px;
}

.show_scroll{
	height:900px;
	overflow-y: scroll;
}

.question-list{
	margin:20px 30px;
}
.question-list .question-item{
	padding: 10px;
	border:1px solid #ccc;
	margin:15px 0;s
}
.question-list .question-item span{
	color: #666;
	margin-right: 30px;
}
.question-list .question-item span.score{
	margin-right: 0
}
.question-list .question-item span input{
	width:45px;
	margin-left: 10px;
}
.question-list .question-item .ques-info{
	margin: 30px 0 30px 40px;
	width:80%;
}
.question-list .question-item .ques-info p{
	line-height: 30px;
}
.question-list .question-item .oper p{
	margin:40px 0;
	background: #f2f2f2;
	border:1px solid #ccc;
	width:50px;
	text-align: center;
	cursor: pointer;
}