ul li,button{
	cursor: pointer;
}
.paper_list{
	width:100%;
	height:54px;
	border-bottom: 1px solid #e6e6e5;
	font-size: 14px;
	color:#676767;
	font-weight:bold;
}
.paper_list li{
	float: left;
	width:90px;
	line-height: 54px;
	text-align: center;
}
.paper_list li.active{
	background:#00ada7;
	color:#fff;
}

.subject{
	background:#f3f3f3;
	border-bottom: 1px solid #d9d9d9;
	padding:10px 20px;
	margin:18px 20px;
	font-size:12px;
}
.grade{
	padding:12px 0;
	border-bottom:1px dashed #e5e5e5;
	font-size: 14px;
}
.subject span{
	display: inline-block;
	color:#323232;
	margin-right: 10px;
	line-height:32px;
	font-weight: 800;
	width:5%;
}
.subject ul{
	width:90%;
}
.subject li{
	float:left;
	padding:5px 10px;
	color:#686868;
	cursor:pointer;
}
.subject li.active{
	background:#00ada7;
	color:#fff;
	font-weight: 800;
}

.version_choice{
	padding:2px 0 12px 0;
}

.stage_choice{
	padding:2px 0 12px 0;
}

.grade_choice{
	padding:2px 0 12px 0;
}

.subject_choice{
	padding:2px 0 12px 0;
}

.type_choice{
	padding:2px 0 12px 0;
}

.difficulty_choice{
	padding:2px 0 12px 0;
}

.sort{
	height:50px;
	background:#f2f2f2;
	padding-top:10px;
	margin:20px;
	font-size:12px;
}
.sort ul{
	margin-left: 20px;
}
.sort ul li{
	float:left;
	padding:7px 12px;
	background:#fff;
	border:1px solid #e5e5e5;
	text-align: center;
}
.sort ul li.active{
	background:#00ada7;
	color:#fff;
}
.mingti{
	vertical-align: middle;
}
.mingti button{
	width:124px;
	// height:32px;
	background: #00ada7;
	line-height:32px;
	color:#fff;
	border-radius: 16px;
	vertical-align: middle;
	font-size: 12px;
    margin-right: 10px;
}
.mingti button i{
	font-size: 18px;
}
.mingti span{
	color:#93bb39;
	margin:0 16px;
}


.mingti .workcreate{
	padding:0 18px;
	background: #93bb39;
	color:#fff;
	border-radius: 16px;
	line-height:32px;
	margin-top:3px;
	margin-right: 20px;
	cursor: pointer;
}

/*题目*/

.questions{
	margin:0 20px;
}
.questions .tips{
	margin-bottom:15px;
}
.questions .tips span{
 	color:#999;
 	font-size: 12px;
 	margin-right: 30px;
 }
 .questions .tips label i{
 	color:#188fee;
 	vertical-align: middle;
 	font-size: 12px;
 	margin-left: 10px;
 }
 .questions .tips label input{
 	vertical-align: middle;
 }

/*单个题目*/
 .item{
	border:1px solid #e5e5e5;
	margin-bottom: 22px;
 }
 .item .question,.item .answer{
 	padding:20px 0;
 	margin:0 20px;
	font-size: 12px;
    line-height: 20px;
 }
 .item .answer{
 	border-top:1px dashed #e5e5e5;
 }
 .item .question p,.item .answer p{
 	line-height:28px;
 }
 .item .who{
 	padding:0 18px 16px 20px;
 	color:#999;
 }
 .item .who i{
 	color:#d8314d;
 }

 .operation{
	height:44px;
	background:#f2f2f2;
	line-height:44px;
 }
.operation p{
	color:#666;
	font-size: 12px;
}
.operation p span{
	margin-left: 20px;
}
.operation ul li{
	float:left;
	margin-right: 16px;
	color:#333;
	height:30px;
	line-height: 30px;
	margin-top: 7px;
	padding:0 5px;
	font-size:12px;
	border-radius: 5px;
	color:#188fee;
}
.operation ul li.remove_li i.iconfont{
	color:#ccc;
}
.operation ul li.remove_li span{
	color:#333;
}

.operation ul li img,.operation ul li i,.operation ul li span{
	vertical-align: middle;
}
.operation ul li img{
	margin-right: 2px;
	width: 16px;
    height: 16px;
}


.bk_gray{
	width:200px;
}
.show_way{
	width:200px;
	text-align: center;
	margin-top:20px;
	font-size:12px;
}
.show_way span{
	float:left;
	width:98px;
	height:36px;
	line-height:36px;
	border:1px solid #e5e5e5;
	cursor: pointer;
}
.show_way span.active{
	background:#00ada7;
	color:#fff;
	border:1px solid #e5e5e5;
}

.tips_msg{
	padding:20px 10px;
	border:1px solid #e5e5e5;
	text-align: center;
    color: #656161;
    font-size: 12px;
}

.ztree_chapter{
	display: none;
}

.answer{
	display: none;
}
.answer span{
	color:#188eee;
}

.answer .click_login{
	color:#d8314d;
}



/*右侧试题篮*/

.side_basket {
	position: fixed;
	right:0;
	top:50%;
	background:#FFF7F1;
	border:1px solid #ccc;
	margin-top: -110px;
	border-radius: 5px 0 0 5px;
	width:192px;
	z-index: 999;
}

.bar_title{
	position: absolute;
	left: 0;
	top:0;
	width:40px;
	background:#00ada7;
	height:100%;
	border-radius: 5px 0 0 5px;
}
.title_name{
	margin-top:24px;
	padding:20px 13px 0;
	box-sizing: border-box;
	font-size: 14px;
    color: #fff;
}
.title_name .lanzi{
	margin-left: -3px;
	display: inline-block;
	width:22px;
	height: 22px;
	background:url(../images/spriter.png) no-repeat -259px -130px;
}
.side_basket .arr{
	position: absolute;
	left: 0;
	bottom: 0;
	width:39px;
	height: 39px;
	border-top:1px solid #fff;
	cursor: pointer;
}
.side_basket .arr i{
	display: inline-block;
	width:12px;
	height: 22px;
	margin: 8px 0 0 12px;
	background:url(../images/spriter.png) no-repeat -292px -366px;
}

.right_content{
	width: 150px;
    border: 1px solid #DAD4CE;
    border-left: 0;
    border-bottom:0;
    min-height: 215px;
}
.right_content span{
	font-size: 12px;
	color:#ff1c1c;
}
.count_total{
   background: #c0f2f0;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    margin: 1px;
    padding-left: 13px;
}

.sub_list{
	padding:5px 18px;
	min-height: 120px;
}
.sub_list li{
	height: 28px;
	line-height: 28px;
	color:#333;
}
.sub_list li i{
	float:right;
	width:12px;
	height: 12px;
	margin-top: 10px;
	cursor:pointer;
	background:url(../images/spriter.png) no-repeat  -427px -177px;
}

.create_success{
	display: inline-block;
	text-align: center;
    height: 26px;
    line-height: 26px;
    margin: 14px 20px;
    padding: 0 30px;
    font-size: 12px;
    color: #fff;
    background: #00ada7;
    border-radius: 5px;
}