.select_project{
	margin:20px;
	min-height: 720px;
}

.select_project li{
	cursor:pointer;
}

.choice_sub{
	margin-bottom: 20px;
}
.choice_sub span{
	display: inline-block;
	width:90px;
	text-align: right;
	line-height: 30px;
	margin-right: 12px;
}

.choice_sub span,.knowledge .kg{
	float:left;
	font-weight: bold;
}
.knowledge .bao{
	width:200px;
}
.choice_sub ul{
	width:88%;
	float:left;
}
.choice_sub li{
	float:left;	
	padding:5px 12px;
	color:#666;
	height:100%;
	line-height:18px;
	box-sizing: border-box;
	margin-right:10px;
}
.choice_sub li.active{
	background:#e4393c;
	color:#fff;
}


.allot{
	margin-top: 20px;
}
.allot p{
	color:#333;
	margin-bottom: 5px;
}
.allot ul{
	border:1px solid #ccc;
	min-height:200px;
	color:#333;
}
.allot ul li{
	height:42px;
	line-height: 42px;
	border-bottom: 1px solid #e5e5e5;
}

.allot ul li span{
	display: inline-block;
	width:50%;
	text-align: center;
}
.allot ul li input{
	width:120px;
}
.first_line{
	color:#00ada7;
}

.count button{
	width:120px;
	height: 32px;
	background:#0075b1;
	color:#fff;
	text-align: center;
	margin-top: 47px;
}

.feasible_count{
    font-size: 16px;
    font-weight: bold;
    color: #00ada7;
}