ul li{
	cursor: pointer;
}
.analysis_type{
	width:100%;
	height:54px;
	border-bottom: 1px solid #e6e6e5;
	font-size: 14px;
	color:#676767;
	font-weight:bold;
}
.analysis_type li{
	float: left;
    width: 110px;
    line-height: 54px;
    text-align: center;
}
.analysis_type li.active{
	background:#0075b1;
	color:#fff;
}

.paper_list_contain{
	margin:20px;
	border:1px solid #e5e5e5;
}

.staff_list_contain{
	border: 1px solid #e5e5e5;
	margin-top: 15px;
}
.list_one{
	padding:0 16px;
	height:34px;
	line-height: 34px;
	background:#f2f2f2;
}
.list_one .first{
	width:25%;
	margin-right:220px;
}

.list_one .one{
	width:32%;
}

.list_one .towe{
	width:17%;
	text-align: center;
	
}

.list_one .staff_towe{
	width:20%;
	text-align: center;
	
}

.list_one .school_towe{
	width:33%;
	text-align: center;
	
}

.list_one .one1{
	width:39%;
}

.list_one .towe1{
	width:20%;
	text-align: center;
	
}

.some_detail .one{
	width:32%;
	overflow: hidden;
	height: 51.11px;
}

.some_detail .towe{
	width:17%;
	text-align: center;
}

.some_detail .staff_towe{
	width:20%;
	text-align: center;
}

.list_one .catalog_one{
	width:35%;
	text-align: center;
}

.list_one .catalog_towe{
	width:15%;
	text-align: center;
}
.some_detail .catalog_one{
	width:35%;
	overflow: hidden;
    height: 51.11px;
    cursor: pointer;
	color: #0075b1;
}

.some_detail .catalog_one1{
	width:35%;
	overflow: hidden;
    height: 51.11px;
}

.some_detail .catalog_one2{
	width:35%;
	overflow: hidden;
    height: 51.11px;
    text-align: center;
}
.some_detail .catalog_towe{
	width:15%;
	text-align: center;
}

.some_detail .school_towe{
	width:33%;
	text-align: center;
}

.some_detail .one1{
	width:39%;
}
.some_detail .towe1{
	width:20%;
	text-align: center;
}

.some_detail .three{
	width:17%;
	text-align: center;
	color: #0075b1;
	cursor:pointer;
}

.some_detail .staff_three{
	width:20%;
	text-align: center;
	color: #0075b1;
	cursor:pointer;
}

.some_detail .staff_three1{
	width:20%;
	text-align: center;
	color: #999;
}

.some_detail button{
	cursor: pointer;
    background: #0075b1;
    color: #fff;
    border-radius: 14px;
    width: 80px;
    font-size: 12px;
    height: 24px;
}


.some_detail .school_three{
	width:33%;
	text-align: center;
	color: #0075b1;
	cursor:pointer;
}


.some_detail .school_three1{
	width:33%;
	text-align: center;
	color: #999;
	cursor:pointer;
}

.some_detail .three span1{
	width:17%;
	text-align: center;
	color: #999;
	margin-left: 8px;
}

.some_detail .three1{
	width:20%;
	text-align: center;
	color: #0075b1;
	cursor:pointer;
}

.some_detail{
	height:52px;
	line-height:52px;
	padding: 0 16px;
}
.some_detail .count{
	width:25%;
	margin-right:52px;
}
.some_detail .right span{
	color:#2fa5fc;
	margin-left: 30px;
	cursor: pointer;
}

.all_content{
	margin:20px;
	font-size: 12px;
}

.operation {
    border-bottom: 1px solid #ccc;
}

.all_content .operation p{
	float:left;
	width:80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	cursor: pointer;
}

.all_content .operation p.active{
	border-bottom: 2px solid #0075b1;
	color:#0075b1;
}

.answer_msg {
    padding: 60px 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    color: #656161;
    font-size: 12px;
    margin: 20px 20px;
}

.operation button {
    width: 80px;
    background: #0075b1;
    color: #fff;
    border-radius: 16px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    height: 25px;
}

.some_detail img{
	vertical-align: middle;
	margin-right: 5px;
}

.test_msg_list{
	margin:20px;
	border:1px solid #ccc;
	padding:10px 0;
	height:200px;
	overflow-y: scroll;
}
.test_msg_list li{
	padding:0 20px;
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
}

.test_msg_list li span,.test_msg_list li input{
	vertical-align: middle;
}
.test_msg_list li input{
	margin-right: 40px;
}

.baocun_1 button,.baocun button{
	display: inline-block;
	width:120px;
	height:32px;
	background:#0075b1;
	margin-right: 10px;
	color:#fff;
	cursor: pointer;
}
.baocun button{
	width:180px;
}
.baocun_1 button.qx{
	background:#ccc;
}
.baocun_1,.baocun{
	margin:20px;
	margin-top: 40px;
	text-align: center;
}

.layer_open h3{
	margin: 20px 0 10px 20px;
    font: 16px 'ו';
    color: #333;
    font-weight: 800;
    text-indent: 4px;
}

.test_object {
    margin-top: 15px;
}

.test_object span{
    display: inline-block;
    width: 80px;
    margin-right: 15px;
    color: #000;
    text-align: right;
}
.test_object span1{
}

.test_object input{
	width:400px;
	padding:5px 0;
	text-indent: 5px; 
}

