
.work_detail{
	margin:60px 24px 0 24px;
}
.work_detail h3.tit{
	color:#333;
	font-size: 18px;
	font-weight: 300;
	text-align:center;
	line-height: 60px;
}
.school_klass{
	color:#0075b1;
	font-size: 14px;
	text-align:center;
	margin-bottom: 20px;
}

.high{
	margin:0 30px 0 50px;
}
.finish{
	margin:0 30px 0 40px;
}

.work_grade,.right_grade{
	margin-top:34px;
	margin-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
}

.work_grade h3,.finish_situation h3,.right_grade h3{
	font-size: 16px;
	color:#333;
	font-family: '宋体';
}
.work_grade img{
	width:100%;
}

.chart_grade{
	height:347px;
	width:100%;
}
.chart_grade .grade{
	width:60%;
	height: 100%;
}

.chart_grade .msg{
	width:40%;
	padding:10px 20px 0 20px;
	box-sizing: border-box;
	margin-top: 40px;
}
.right_grade .msg{
	width:40%;
	padding:10px 20px 0 20px;
	margin-top: 20px;
}

.right_grade .msg label select{
	padding:5px 0;
	height:32px;
	width:220px;
	margin-right: 15px;
}
.right_grade .msg label span{
	color:#2fa5ff;
	cursor: pointer;
}

.chart_grade .msg h3{
	margin-bottom: 24px;
}
.right_grade h3{
	margin: 20px 0
}
.chart_grade .msg p{
	margin-bottom: 20px;
	height:25px;
	line-height: 25px;
}
.right_grade .msg b{
	font-weight: 400;
	color:#2fa5ff;
	curosr:pointer;
}
.chart_grade .msg p i{
	display: inline-block;
	width:20px;
	height:20px;
	border-radius: 10px;
	margin-right: 14px;
}
.chart_grade .msg p i,.chart_grade .msg p span,.chart_grade .msg p em{
	vertical-align: middle;
}

.work_grade .msg p em{
	margin-right: 140px;
	float:right;
}
.right_grade .msg p em,.right_grade .msg p i,.right_grade .msg p span,.right_grade .msg p b{
	display: inline-block;
	float:left;
}
.right_grade .msg p em{
	width:15%;
	margin-right: 20px;
}
.right_grade .msg p b{
	width:25%;
	cursor: pointer;
}
.right_grade .msg p span{
	width:30%;
	margin-right: 40px;
}

.one_check{
	margin-top: 10px;
	padding-left: 65px;
}
.one_check span{
	color:#2fa5ff;
	cursor: pointer;
	display: inline-block;
	width:74px;
	text-align: center;
	margin-right: 46px;
}

.is_auto{
	height:230px;
	overflow-y:scroll;
}
 .chart_grade .msg p.a i{
	background:#abcdef;
}
.chart_grade .msg p.b i{
	background:#fa6c3a;
}
.chart_grade .msg p.c i{
	background:#526ba4;
}
.chart_grade .msg p.d i{
	background:red;
}
.chart_grade .msg p.f i{
	background:#efcb6a;
}

.chart_grade .msg p.e i{
	background:#00ada7;
}

.finish_situation{
	margin-top: 16px;
}

.situation{
	margin-top:30px;
}
.situation span{
	display: inline-block;
	margin-right: 5px;
}
.situation span.wk_status{
	margin-left: 30px;
}
.situation select.wk_status{
	width:160px;
	padding:4px 0;
	margin-right: 50px;
}

.situation select.wk_grade{
	width:170px;
	padding:5px 0;
	margin-right: 80px;
}
.situation input.stu_name{
	width:280px;
	padding:5px 0;
	margin-right: 30px;
}

.check{
	width:100px;
	height:34px;
	background:#0075b1;
	text-align: center;
	color:#fff;
	float: right;
    margin-right: 30px;
}


.tb_list{
	border:1px solid #e5e5e5;
	margin:10px 0;
}
.tb_list .op{
	background: #f2f2f2;
	height:38px;
	line-height: 38px;
}
.tb_list .stu{
	height:48px;
	line-height: 48px;
	border-top: 1px solid #e5e5e5;
}
.tb_list p{
	float: left;
	text-align: center;
}
.tb_list  p.stu_name,.tb_list  p.finish_time,.tb_list p.grade_work,.tb_list p.operation{
	width:12%;
}

.tb_list  p.finish_status{
	width:40%;
}
.tb_list .stu p.finish_status span{
	margin-right: 20px;
}
.tb_list .stu p.operation{
	color: #0075b1;
	cursor: pointer;
}