<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjq.eva.dao.EvaluateEvaMapper">
	<resultMap id="BaseResultMap" type="com.sjq.eva.vo.EvaluateEvaVo">
  		<result column="id" property="id" jdbcType="BIGINT" />
  		<result column="create_name" property="createName" jdbcType="VARCHAR" />
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  		<result column="mod_name" property="modName" jdbcType="VARCHAR" />
  		<result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  		<result column="delflag" property="delflag" jdbcType="CHAR" />
  		<result column="name" property="name" jdbcType="VARCHAR" />
  		<result column="introduction" property="introduction" jdbcType="VARCHAR" />
  		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  		<result column="status" property="status" jdbcType="CHAR" />
  		<result column="remake" property="remake" jdbcType="VARCHAR" />
  		
  		<collection property="evaluateEvaDetailVoList" column="{evaId=id,delflag=delflag}" javaType="ArrayList"	
  			ofType="com.sjq.evaDetail.vo.EvaluateEvaDetailVo" select="com.sjq.evaDetail.dao.EvaluateEvaDetailMapper.queryEvaluateEvaDetailBySearch"></collection>
	</resultMap>
	
	<sql id="Base_Column_List">
  		id,
  		create_name,
  		create_time,
  		mod_name,
  		mod_time,
  		delflag,
  		name,
  		introduction,
  		start_time,
  		end_time,
  		status,
  		remake,
  		user_id
	</sql>
	
	<!-- 查询所有的测评信息信息 -->
	<select id="queryAllEvaluateEva" resultMap="BaseResultMap" >
 	   select 
       <include refid="Base_Column_List" />
       from edu_evaluate_eva
       where delflag='0'
    </select>
	
	
	<!-- 根据ID查询测评信息信息 -->
	<select id="queryEvaluateEvaById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	   select 
       <include refid="Base_Column_List" />
       from edu_evaluate_eva
       where delflag='0' and id =#{id,jdbcType=BIGINT}
    </select>
    
					
	<!-- 根据条件查询所有测评信息信息 -->
	<select id="queryEvaluateEvaBySearch" resultMap="BaseResultMap"  parameterType="java.util.Map">
	   select 
       <include refid="Base_Column_List" />
       from edu_evaluate_eva
       where 1=1 
  	   <if test="id != '' and id != null">
       		and id = #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name = #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time = #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name = #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time = #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag = #{delflag}
       </if>
  	   <if test="name != '' and name != null">
       		and name = #{name}
       </if>
  	   <if test="introduction != '' and introduction != null">
       		and introduction = #{introduction}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and start_time = #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and end_time = #{endTime}
       </if>
  	   <if test="status != '' and status != null">
       		and status = #{status}
       </if>
       <if test="remake != '' and remake != null">
       		and remake = #{remake}
       </if>
       <if test="userId != null">
       		and user_id = #{userId}
       </if>
	</select>
	
					
	<!-- 根据条件查询测评信息count总数 -->
	<select id="queryEvaluateEvaTotalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from
		edu_evaluate_eva where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="name != '' and name != null">
       		and name =  #{name}
       </if>
  	   <if test="introduction != '' and introduction != null">
       		and introduction =  #{introduction}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and start_time =  #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and end_time =  #{endTime}
       </if>
  	   <if test="status != '' and status != null">
       		and status =  #{status}
       </if>
        <if test="remake != '' and remake != null">
       		and remake = #{remake}
       </if>
       <if test="userId != null">
       		and user_id = #{userId}
       </if>
	</select>
	

					
	<!-- 分页查询测评信息 -->
	<select id="queryEvaluateEvaPage" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select   
	    <include refid="Base_Column_List" />
		from
		edu_evaluate_eva where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="name != '' and name != null">
       		and name =  #{name}
       </if>
  	   <if test="introduction != '' and introduction != null">
       		and introduction =  #{introduction}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and start_time =  #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and end_time =  #{endTime}
       </if>
  	   <if test="status != '' and status != null">
       		and status =  #{status}
       </if>
        <if test="remake != '' and remake != null">
       		and remake = #{remake}
       </if>
       <if test="userId != null">
       		and user_id = #{userId}
       </if>
       ORDER BY create_time desc
  	   limit #{startRowNum},#{endRowNum}
	</select>

	<!-- (更新)根据ID更新所有测评信息信息 -->
	<update id="updateEvaluateEvaById" parameterType="com.sjq.eva.bean.EvaluateEvaBean" >
		update edu_evaluate_eva
		<set>
	  	    <if test="modName != null">
	       	mod_name =  #{modName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="modTime != null">
	       	mod_time =  #{modTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != null">
	       	delflag =  #{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="name != null">
	       	name =  #{name,jdbcType=VARCHAR},
	        </if>
	  	    <if test="introduction != null">
	       	introduction =  #{introduction,jdbcType=VARCHAR},
	        </if>
	  	    <if test="startTime != null">
	       	start_time =  #{startTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="endTime != null">
	       	end_time =  #{endTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="status != null">
	       	status =  #{status,jdbcType=CHAR},
	        </if>
	         <if test="userId != null">
	       	user_id =  #{userId,jdbcType=BIGINT},
	        </if>
		</set>
		where 1 = 1 and id = #{id,jdbcType=BIGINT} 
	</update>				
	<!-- (更新)根据条件更新所有测评信息信息 -->
	<update id="updateEvaluateEvaBySearch"  parameterType="java.util.Map" >
		update edu_evaluate_eva
		<set>
	  	    <if test="modName != '' and modName != null">
	       	mod_name =  #{modName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="modTime != '' and modTime != null">
	       	mod_time =  #{modTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       	delflag =  #{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="name != '' and name != null">
	       	name =  #{name,jdbcType=VARCHAR},
	        </if>
	  	    <if test="introduction != '' and introduction != null">
	       	introduction =  #{introduction,jdbcType=VARCHAR},
	        </if>
	  	    <if test="startTime != '' and startTime != null">
	       	start_time =  #{startTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="endTime != '' and endTime != null">
	       	end_time =  #{endTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="status != '' and status != null">
	       	status =  #{status,jdbcType=CHAR},
	        </if>
	         <if test=".userId != null">
	       	user_id =  #{userId,jdbcType=BIGINT},
	        </if>
		</set>
		where 1=1
  	   <if test="id != '' and id != null">
       		and id = #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name = #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time = #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name = #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time = #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag = #{delflag}
       </if>
  	   <if test="name != '' and name != null">
       		and name = #{name}
       </if>
  	   <if test="introduction != '' and introduction != null">
       		and introduction = #{introduction}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and start_time = #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and end_time = #{endTime}
       </if>
  	   <if test="status != '' and status != null">
       		and status = #{status}
       </if>
       <if test="userId != null">
       		and user_id = #{userId}
       </if>
	</update>
	
					
	<!-- (增加)增加测评信息信息 --> 
	<insert id="insertEvaluateEva" parameterType="com.sjq.eva.bean.EvaluateEvaBean">
		insert into edu_evaluate_eva
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  	   <if test="id != '' and id != null">
	       	id,
	       </if>
	  	   <if test="createName != '' and createName != null">
	       	create_name,
	       </if>
	  	   <if test="createTime != '' and createTime != null">
	       	create_time,
	       </if>
	  	   <if test="delflag != '' and delflag != null">
	       	delflag,
	       </if>
	  	   <if test="name != '' and name != null">
	       	name,
	       </if>
	  	   <if test="introduction != '' and introduction != null">
	       	introduction,
	       </if>
	  	   <if test="startTime != '' and startTime != null">
	       	start_time,
	       </if>
	  	   <if test="endTime != '' and endTime != null">
	       	end_time,
	       </if>
	  	   <if test="status != '' and status != null">
	       	status,
	       </if>
	        <if test="remake != '' and remake != null">
	       	remake,
	       </if>
	       <if test="userId != null">
	       	user_id,
	       </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	  	    <if test="id != '' and id != null">
	       		#{id,jdbcType=BIGINT},
	        </if>
	  	    <if test="createName != '' and createName != null">
	       		#{createName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="createTime != '' and createTime != null">
	       		#{createTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       		#{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="name != '' and name != null">
	       		#{name,jdbcType=VARCHAR},
	        </if>
	  	    <if test="introduction != '' and introduction != null">
	       		#{introduction,jdbcType=VARCHAR},
	        </if>
	  	    <if test="startTime != '' and startTime != null">
	       		#{startTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="endTime != '' and endTime != null">
	       		#{endTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="status != '' and status != null">
	       		#{status,jdbcType=CHAR},
	        </if>
	        <if test="remake != '' and remake != null">
	       		#{remake,jdbcType=VARCHAR},
	        </if>
	         <if test="userId != null">
	       		#{userId,jdbcType=BIGINT},
	        </if>
		</trim>
	</insert>
    
	   
</mapper>