<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjq.homework.dao.WorkHomeworkMapper">
	<resultMap id="BaseResultMap" type="com.sjq.homework.vo.WorkHomeworkVo">
  		<result column="id" property="id" jdbcType="BIGINT" />
  		<result column="create_name" property="createName" jdbcType="VARCHAR" />
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  		<result column="mod_name" property="modName" jdbcType="VARCHAR" />
  		<result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  		<result column="delflag" property="delflag" jdbcType="CHAR" />
  		<result column="title" property="title" jdbcType="VARCHAR" />
  		<result column="subject_id" property="subjectId" jdbcType="BIGINT" />
  		<result column="grade_id" property="gradeId" jdbcType="BIGINT" />
  		<result column="classes_id" property="classesId" jdbcType="BIGINT" />
  		<result column="question_num" property="questionNum" jdbcType="BIGINT" />
  		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
  		<result column="finish_num" property="finishNum" jdbcType="BIGINT" />
  		<result column="status" property="status" jdbcType="CHAR" />
  		<result column="teacher_id" property="teacherId" jdbcType="BIGINT" />
  		<result column="user_id" property="userId" jdbcType="BIGINT" />
  		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  		
  		
		<association property="baseSubjectVo" column="subject_id"
			select="com.sjq.subject.dao.BaseSubjectMapper.queryBaseSubjectById"></association>
		<association property="qtnNum" column="{homeworkId=id}"
			select="com.sjq.workQuestion.dao.WorkWorkQuestionMapper.queryWorkWorkQuestionTotalCount"></association>
	</resultMap>
	
	<sql id="Base_Column_List">
  		id,
  		create_name,
  		create_time,
  		mod_name,
  		mod_time,
  		delflag,
  		title,
  		subject_id,
  		grade_id,
  		classes_id,
  		question_num,
  		last_time,
  		finish_num,
  		status,
  		teacher_id,
  		user_id,
  		start_time,
  		end_time,
  		type
	</sql>
	
	<sql id="Base_Column_List1">
  		a.id,
  		a.create_name,
  		a.create_time,
  		a.mod_name,
  		a.mod_time,
  		a.delflag,
  		a.title,
  		a.subject_id,
  		a.grade_id,
  		a.classes_id,
  		a.question_num,
  		a.last_time,
  		a.finish_num,
  		a.status,
  		a.teacher_id,
  		a.user_id,
  		a.start_time,
  		a.end_time,
  		a.type
	</sql>
	
	<!-- 查询所有的作业信息信息 -->
	<select id="queryAllWorkHomework" resultMap="BaseResultMap" >
 	   select 
       <include refid="Base_Column_List" />
       from edu_work_homework
       where delflag='0'
    </select>
	
	
	<!-- 根据ID查询作业信息信息 -->
	<select id="queryWorkHomeworkById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	   select 
       <include refid="Base_Column_List" />
       from edu_work_homework
       where delflag='0' and id =#{id,jdbcType=BIGINT}
    </select>
    
					
	<!-- 根据条件查询所有作业信息信息 -->
	<select id="queryWorkHomeworkBySearch" resultMap="BaseResultMap"  parameterType="java.util.Map">
	   select 
       <include refid="Base_Column_List1" />
       from edu_work_homework a
       <if test="classesId != '' and classesId != null">
       ,edu_work_homeworkClasses b
       </if>
       where 1=1 
  	   <if test="id != '' and id != null">
       		and a.id = #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and a.create_name = #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and a.create_time = #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and a.mod_name = #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and a.mod_time = #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and a.delflag = #{delflag}
       </if>
  	   <if test="title != '' and title != null">
       		and a.title like  '%${title}%'
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and a.subject_id = #{subjectId}
       </if>
  	   <if test="gradeId != '' and gradeId != null">
       		and a.grade_id = #{gradeId}
       </if>
  	   <if test="classesId != '' and classesId != null">
       		and b.classes_id = #{classesId} and a.id = b.homework_id
       </if>
  	   <if test="questionNum != '' and questionNum != null">
       		and question_num = #{questionNum}
       </if>
  	   <if test="lastTime != '' and lastTime != null">
       		and a.last_time = #{lastTime}
       </if>
  	   <if test="finishNum != '' and finishNum != null">
       		and a.finish_num = #{finishNum}
       </if>
  	   <if test="status != '' and status != null">
       		and a.status = #{status}
       </if>
  	   <if test="teacherId != '' and teacherId != null">
       		and a.teacher_id = #{teacherId}
       </if>
  	   <if test="userId != '' and userId != null">
       		and a.user_id = #{userId}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and a.start_time = #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and a.end_time = #{endTime}
       </if>
        <if test="type != '' and type != null">
       		and a.type = #{type}
       </if>
	</select>
	
					
	<!-- 根据条件查询作业信息count总数 -->
	<select id="queryWorkHomeworkTotalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from
		edu_work_homework a
		<if test="classesId != '' and classesId != null">
       		,edu_work_homeworkClasses b
       </if>
		where 1=1
  	   <if test="id != '' and id != null">
       		and a.id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and a.create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and a.create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and a.mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and a.mod_time =  #{modTime}
       </if>
  	  		and a.delflag = '0' 
  	   <if test="title != '' and title != null">
       		and a.title like  '%${title}%'
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and a.subject_id =  #{subjectId}
       </if>
  	   <if test="gradeId != '' and gradeId != null">
       		and a.grade_id =  #{gradeId}
       </if>
  	   <if test="classesId != '' and classesId != null">
       		and b.classes_id = #{classesId} and a.id = b.homework_id  and b.delflag = '0'
       </if>
  	   <if test="questionNum != '' and questionNum != null">
       		and a.question_num =  #{questionNum}
       </if>
  	   <if test="lastTime != '' and lastTime != null">
       		and a.last_time =  #{lastTime}
       </if>
  	   <if test="finishNum != '' and finishNum != null">
       		and a.finish_num =  #{finishNum}
       </if>
  	   <if test="status != '' and status != null">
       		and a.status =  #{status}
       </if>
  	   <if test="teacherId != '' and teacherId != null">
       		and a.teacher_id =  #{teacherId}
       </if>
  	   <if test="userId != '' and userId != null">
       		and a.user_id =  #{userId}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and a.start_time =  #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and a.end_time =  #{endTime}
       </if>
        <if test="type != '' and type != null">
       		and a.type = #{type}
       </if>
	</select>
	

					
	<!-- 分页查询作业信息 -->
	<select id="queryWorkHomeworkPage" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select   
	    <include refid="Base_Column_List1" />
		from
		edu_work_homework a
		<if test="classesId != '' and classesId != null">
       		,edu_work_homeworkClasses b
       </if>
		where 1=1
  	   <if test="id != '' and id != null">
       		and a.id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and a.create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and a.create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and a.mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and a.mod_time =  #{modTime}
       </if>
  	   		and a.delflag = '0'
  	   <if test="title != '' and title != null">
       		and a.title like  '%${title}%'
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and a.subject_id =  #{subjectId}
       </if>
  	   <if test="gradeId != '' and gradeId != null">
       		and a.grade_id =  #{gradeId}
       </if>
  	   <if test="classesId != '' and classesId != null">
       		and b.classes_id = #{classesId} and a.id = b.homework_id and b.delflag = '0'
       </if>
  	   <if test="questionNum != '' and questionNum != null">
       		and a.question_num =  #{questionNum}
       </if>
  	   <if test="lastTime != '' and lastTime != null">
       		and a.last_time =  #{lastTime}
       </if>
  	   <if test="finishNum != '' and finishNum != null">
       		and a.finish_num =  #{finishNum}
       </if>
  	   <if test="status != '' and status != null">
       		and a.status =  #{status}
       </if>
  	   <if test="teacherId != '' and teacherId != null">
       		and a.teacher_id =  #{teacherId}
       </if>
  	   <if test="userId != '' and userId != null">
       		and a.user_id =  #{userId}
       </if>
  	   <if test="startTime != '' and startTime != null">
       		and a.start_time =  #{startTime}
       </if>
  	   <if test="endTime != '' and endTime != null">
       		and a.end_time =  #{endTime}
       </if>
       <if test="type != '' and type != null">
       		and a.type = #{type}
       </if>
  	   limit #{startRowNum},#{endRowNum}
	</select>

					
	<!-- (删除)根据条件删除作业信息信息  -->
	<delete id="deleteWorkHomeworkBySearch" parameterType="java.util.Map">
		update 
		edu_work_homework
		<set> 
	  	    <if test="bean.modName != '' and bean.modName != null">
	       	mod_name =  #{bean.modName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="bean.modTime != '' and bean.modTime != null">
	       	mod_time =  #{bean.modTime,jdbcType=TIMESTAMP},
	        </if>
		delflag = '1'
		</set>
		where 1=1
  	   <if test="search.id != '' and search.id != null">
       		and id =  #{search.id}
       </if>
  	   <if test="search.createName != '' and search.createName != null">
       		and create_name =  #{search.createName}
       </if>
  	   <if test="search.createTime != '' and search.createTime != null">
       		and create_time =  #{search.createTime}
       </if>
  	   <if test="search.modName != '' and search.modName != null">
       		and mod_name =  #{search.modName}
       </if>
  	   <if test="search.modTime != '' and search.modTime != null">
       		and mod_time =  #{search.modTime}
       </if>
  	   <if test="search.delflag != '' and search.delflag != null">
       		and delflag =  #{search.delflag}
       </if>
  	   <if test="search.title != '' and search.title != null">
       		and title =  #{search.title}
       </if>
  	   <if test="search.subjectId != '' and search.subjectId != null">
       		and subject_id =  #{search.subjectId}
       </if>
  	   <if test="search.gradeId != '' and search.gradeId != null">
       		and grade_id =  #{search.gradeId}
       </if>
  	   <if test="search.classesId != '' and search.classesId != null">
       		and classes_id =  #{search.classesId}
       </if>
  	   <if test="search.questionNum != '' and search.questionNum != null">
       		and question_num =  #{search.questionNum}
       </if>
  	   <if test="search.lastTime != '' and search.lastTime != null">
       		and last_time =  #{search.lastTime}
       </if>
  	   <if test="search.finishNum != '' and search.finishNum != null">
       		and finish_num =  #{search.finishNum}
       </if>
  	   <if test="search.status != '' and search.status != null">
       		and status =  #{search.status}
       </if>
  	   <if test="search.teacherId != '' and search.teacherId != null">
       		and teacher_id =  #{search.teacherId}
       </if>
  	   <if test="search.userId != '' and search.userId != null">
       		and user_id =  #{search.userId}
       </if>
  	   <if test="search.startTime != '' and search.startTime != null">
       		and start_time =  #{search.startTime}
       </if>
  	   <if test="search.endTime != '' and search.endTime != null">
       		and end_time =  #{search.endTime}
       </if>
        <if test="type != '' and type != null">
       		and type = #{type}
       </if>
	</delete>
	
					
	<!-- (更新)根据ID更新所有作业信息信息 -->
	<update id="updateWorkHomeworkById" parameterType="com.sjq.homework.bean.WorkHomeworkBean" >
		update edu_work_homework
		<set>
	  	    <if test="modName != '' and modName != null">
	       	mod_name =  #{modName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="modTime != '' and modTime != null">
	       	mod_time =  #{modTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       	delflag =  #{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="title != '' and title != null">
	       	title =  #{title,jdbcType=VARCHAR},
	        </if>
	  	    <if test="subjectId != '' and subjectId != null">
	       	subject_id =  #{subjectId,jdbcType=BIGINT},
	        </if>
	  	    <if test="gradeId != '' and gradeId != null">
	       	grade_id =  #{gradeId,jdbcType=BIGINT},
	        </if>
	  	    <if test="classesId != '' and classesId != null">
	       	classes_id =  #{classesId,jdbcType=BIGINT},
	        </if>
	  	    <if test="questionNum != '' and questionNum != null">
	       	question_num =  #{questionNum,jdbcType=BIGINT},
	        </if>
	  	    <if test="lastTime != '' and lastTime != null">
	       	last_time =  #{lastTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="finishNum != '' and finishNum != null">
	       	finish_num =  finish_num + 1,
	        </if>
	  	    <if test="status != '' and status != null">
	       	status =  #{status,jdbcType=CHAR},
	        </if>
	  	    <if test="teacherId != '' and teacherId != null">
	       	teacher_id =  #{teacherId,jdbcType=BIGINT},
	        </if>
	  	    <if test="userId != '' and userId != null">
	       	user_id =  #{userId,jdbcType=BIGINT},
	        </if>
	  	    <if test="startTime != '' and startTime != null">
	       	start_time =  #{startTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="endTime != '' and endTime != null">
	       	end_time =  #{endTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="type != '' and type != null">
	       	type =  #{type,jdbcType=CHAR},
	        </if>
		</set>
		where 1 = 1 and id = #{id,jdbcType=BIGINT} 
	</update>
	
					
	<!-- (增加)增加作业信息信息 --> 
	<insert id="insertWorkHomework" parameterType="com.sjq.homework.bean.WorkHomeworkBean" useGeneratedKeys="true" keyProperty="id">
		insert into edu_work_homework
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  	   <if test="id != '' and id != null">
	       	id,
	       </if>
	  	   <if test="createName != '' and createName != null">
	       	create_name,
	       </if>
	  	   <if test="createTime != '' and createTime != null">
	       	create_time,
	       </if>
	  	   <if test="delflag != '' and delflag != null">
	       	delflag,
	       </if>
	  	   <if test="title != '' and title != null">
	       	title,
	       </if>
	  	   <if test="subjectId != '' and subjectId != null">
	       	subject_id,
	       </if>
	  	   <if test="gradeId != '' and gradeId != null">
	       	grade_id,
	       </if>
	  	   <if test="classesId != '' and classesId != null">
	       	classes_id,
	       </if>
	  	   <if test="questionNum != '' and questionNum != null">
	       	question_num,
	       </if>
	  	   <if test="lastTime != '' and lastTime != null">
	       	last_time,
	       </if>
	  	   <if test="finishNum != null">
	       	finish_num,
	       </if>
	  	   <if test="status != '' and status != null">
	       	status,
	       </if>
	  	   <if test="teacherId != '' and teacherId != null">
	       	teacher_id,
	       </if>
	  	   <if test="userId != '' and userId != null">
	       	user_id,
	       </if>
	  	   <if test="startTime != '' and startTime != null">
	       	start_time,
	       </if>
	  	   <if test="endTime != '' and endTime != null">
	       	end_time,
	       </if>
	       <if test="type != '' and type != null">
	       	type,
	       </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	  	    <if test="id != '' and id != null">
	       		#{id,jdbcType=BIGINT},
	        </if>
	  	    <if test="createName != '' and createName != null">
	       		#{createName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="createTime != '' and createTime != null">
	       		#{createTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       		#{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="title != '' and title != null">
	       		#{title,jdbcType=VARCHAR},
	        </if>
	  	    <if test="subjectId != '' and subjectId != null">
	       		#{subjectId,jdbcType=BIGINT},
	        </if>
	  	    <if test="gradeId != '' and gradeId != null">
	       		#{gradeId,jdbcType=BIGINT},
	        </if>
	  	    <if test="classesId != '' and classesId != null">
	       		#{classesId,jdbcType=BIGINT},
	        </if>
	  	    <if test="questionNum != '' and questionNum != null">
	       		#{questionNum,jdbcType=BIGINT},
	        </if>
	  	    <if test="lastTime != '' and lastTime != null">
	       		#{lastTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="finishNum != null">
	       		#{finishNum,jdbcType=BIGINT},
	        </if>
	  	    <if test="status != '' and status != null">
	       		#{status,jdbcType=CHAR},
	        </if>
	  	    <if test="teacherId != '' and teacherId != null">
	       		#{teacherId,jdbcType=BIGINT},
	        </if>
	  	    <if test="userId != '' and userId != null">
	       		#{userId,jdbcType=BIGINT},
	        </if>
	  	    <if test="startTime != '' and startTime != null">
	       		#{startTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="endTime != '' and endTime != null">
	       		#{endTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="type != '' and type != null">
	       		#{type,jdbcType=CHAR},
	        </if>
		</trim>
	</insert>
    
	   
</mapper>