<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjq.stageSubject.dao.BaseStageSubjectMapper">
	<resultMap id="BaseResultMap" type="com.sjq.stageSubject.vo.BaseStageSubjectVo">
  		<result column="id" property="id" jdbcType="BIGINT" />
  		<result column="create_name" property="createName" jdbcType="VARCHAR" />
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  		<result column="mod_name" property="modName" jdbcType="VARCHAR" />
  		<result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  		<result column="delflag" property="delflag" jdbcType="CHAR" />
  		<result column="stage_id" property="stageId" jdbcType="BIGINT" />
  		<result column="subject_id" property="subjectId" jdbcType="BIGINT" />
  		<result column="sort" property="sort" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
  		id,
  		create_name,
  		create_time,
  		mod_name,
  		mod_time,
  		delflag,
  		stage_id,
  		subject_id,
  		sort
	</sql>
	
					
	<!-- 根据条件查询所有学段学科信息信息 -->
	<select id="queryBaseStageSubjectBySearch" resultMap="BaseResultMap"  parameterType="java.util.Map">
	   select 
       <include refid="Base_Column_List" />
       from edu_base_stageSubject
       where 1=1 
  	   <if test="id != '' and id != null">
       		and id = #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name = #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time = #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name = #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time = #{modTime}
       </if>
  	     	and delflag = '0'
  	   <if test="stageId != '' and stageId != null">
       		and stage_id = #{stageId}
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and subject_id = #{subjectId}
       </if>
  	   <if test="sort != '' and sort != null">
       		and sort = #{sort}
       </if>
	</select>
	
					
	<!-- 根据条件查询学段学科信息count总数 -->
	<select id="queryBaseStageSubjectTotalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from
		edu_base_stageSubject where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="stageId != '' and stageId != null">
       		and stage_id =  #{stageId}
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and subject_id =  #{subjectId}
       </if>
  	   <if test="sort != '' and sort != null">
       		and sort =  #{sort}
       </if>
	</select>
	

					
	<!-- 分页查询学段学科信息 -->
	<select id="queryBaseStageSubjectPage" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select   
	    <include refid="Base_Column_List" />
		from
		edu_base_stageSubject where delflag='0'
  	   <if test="id != '' and id != null">
       		and id =  #{id}
       </if>
  	   <if test="createName != '' and createName != null">
       		and create_name =  #{createName}
       </if>
  	   <if test="createTime != '' and createTime != null">
       		and create_time =  #{createTime}
       </if>
  	   <if test="modName != '' and modName != null">
       		and mod_name =  #{modName}
       </if>
  	   <if test="modTime != '' and modTime != null">
       		and mod_time =  #{modTime}
       </if>
  	   <if test="delflag != '' and delflag != null">
       		and delflag =  #{delflag}
       </if>
  	   <if test="stageId != '' and stageId != null">
       		and stage_id =  #{stageId}
       </if>
  	   <if test="subjectId != '' and subjectId != null">
       		and subject_id =  #{subjectId}
       </if>
  	   <if test="sort != '' and sort != null">
       		and sort =  #{sort}
       </if>
  	   limit #{startRowNum},#{endRowNum}
	</select>

					
	<!-- (增加)增加学段学科信息信息 --> 
	<insert id="insertBaseStageSubject" parameterType="com.sjq.stageSubject.bean.BaseStageSubjectBean">
		insert into edu_base_stageSubject
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  	   <if test="id != '' and id != null">
	       	id,
	       </if>
	  	   <if test="createName != '' and createName != null">
	       	create_name,
	       </if>
	  	   <if test="createTime != '' and createTime != null">
	       	create_time,
	       </if>
	  	   <if test="delflag != '' and delflag != null">
	       	delflag,
	       </if>
	  	   <if test="stageId != '' and stageId != null">
	       	stage_id,
	       </if>
	  	   <if test="subjectId != '' and subjectId != null">
	       	subject_id,
	       </if>
	  	   <if test="sort != '' and sort != null">
	       	sort,
	       </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	  	    <if test="id != '' and id != null">
	       		#{id,jdbcType=BIGINT},
	        </if>
	  	    <if test="createName != '' and createName != null">
	       		#{createName,jdbcType=VARCHAR},
	        </if>
	  	    <if test="createTime != '' and createTime != null">
	       		#{createTime,jdbcType=TIMESTAMP},
	        </if>
	  	    <if test="delflag != '' and delflag != null">
	       		#{delflag,jdbcType=CHAR},
	        </if>
	  	    <if test="stageId != '' and stageId != null">
	       		#{stageId,jdbcType=BIGINT},
	        </if>
	  	    <if test="subjectId != '' and subjectId != null">
	       		#{subjectId,jdbcType=BIGINT},
	        </if>
	  	    <if test="sort != '' and sort != null">
	       		#{sort,jdbcType=VARCHAR},
	        </if>
		</trim>
	</insert>
    
	   
</mapper>